<section class="container">
  <article class="form-header">
    <div class="title-section">
      <i class="lucide-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M18 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3H6a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3V6a3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 3 3 0 0 0-3-3Z"
          />
        </svg>
      </i>
      <h1>
        {{ isEditMode ? "Modificar Veterinario" : "Crear Nuevo Veterinario" }}
      </h1>
    </div>
  </article>

  <form [formGroup]="vetForm" (ngSubmit)="onSubmit()" class="form-container">
    <article class="form-grid">
      <div class="form-group">
        <label for="cedula">Cédula</label>
        <div class="input-container">
          <i class="lucide-icon input-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect width="18" height="11" x="3" y="11" rx="2" ry="2" />
              <path d="M7 11V7a5 5 0 0 1 10 0v4" />
            </svg>
          </i>
          <input
            formControlName="cedula"
            type="text"
            id="cedula"
            placeholder="Ingresa la cédula"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <div class="input-container">
          <i class="lucide-icon input-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="7" r="4" />
              <path d="M5.5 21a10 10 0 0 1 13 0" />
            </svg>
          </i>
          <input
            formControlName="nombre"
            type="text"
            id="nombre"
            placeholder="Ingresa el nombre"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="especialidad">Especialidad</label>
        <div class="input-container">
          <i class="lucide-icon input-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
              />
              <path d="m9 12 2 2 4-4" />
            </svg>
          </i>
          <input
            formControlName="especialidad"
            type="text"
            id="especialidad"
            placeholder="Ingresa la especialidad"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="foto">Foto (URL)</label>
        <div class="input-container">
          <i class="lucide-icon input-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
              />
              <path d="m9 12 2 2 4-4" />
            </svg>
          </i>
          <input
            formControlName="foto"
            type="text"
            id="foto"
            placeholder="Ingresa la URL de la foto"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="numAtenciones">Número de Atenciones</label>
        <div class="input-container">
          <i class="lucide-icon input-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
              />
              <path d="m9 12 2 2 4-4" />
            </svg>
          </i>
          <input
            formControlName="numAtenciones"
            type="number"
            id="numAtenciones"
            placeholder="Ingresa el número de atenciones"
          />
        </div>
      </div>

     <div class="form-group">
        <label for="estado">Estado</label>
        <div class="input-container">
          <select formControlName="estado" id="estado">
            <option [ngValue]="true">Activo</option>
            <option [ngValue]="false">Inactivo</option>
          </select>
        </div>
      </div>

      <div *ngIf="!isEditMode" class="form-group">
        <label for="contrasena">Contraseña</label>
        <div class="input-container">
          <i class="lucide-icon input-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
              />
              <path d="m9 12 2 2 4-4" />
            </svg>
          </i>
          <input
            formControlName="contrasena"
            type="password"
            id="contrasena"
            placeholder="Ingresa la contraseña"
          />
        </div>
      </div>

      <div *ngIf="!isEditMode" class="form-group">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <div class="input-container">
          <i class="lucide-icon input-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
              />
              <path d="m9 12 2 2 4-4" />
            </svg>
          </i>
          <input
            formControlName="confirmPassword"
            type="password"
            id="confirmPassword"
            placeholder="Confirma la contraseña"
          />
        </div>
      </div>
    </article>

    <article class="form-footer">
      <a routerLink="/vets" class="cancel-button">
        <i class="lucide-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </i>
        Cancelar
      </a>
      <button type="submit" class="submit-button" [disabled]="vetForm.invalid">
        <i class="lucide-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"
            />
            <polyline points="17 21 17 13 7 13 7 21" />
            <polyline points="7 3 7 8 15 8" />
          </svg>
        </i>
        {{ isEditMode ? "Guardar Cambios" : "Crear Veterinario" }}
      </button>
    </article>
  </form>
</section>
