<section id="specialties" class="specialties scroll-reveal" appScrollReveal>
  <h2>Especialidades</h2>

  <div class="specialties-grid scroll-reveal" appScrollReveal>
    <article class="specialty-card violet scroll-reveal" appScrollReveal>
      <h3>Odontología</h3>
      <p>
        Cuida la salud dental de tu mascota! Trata enfermedades
        periodontales y cirugía dental.
      </p>
      <a routerLink="/specialties" class="read-more">Leer más</a>
    </article>

    <article class="specialty-card orange scroll-reveal" appScrollReveal>
      <div class="specialty-content">
        <h3>Nutrición y Dietética</h3>
        <p>
          Elaboración de dietas personalizadas y seguimiento continuo para
          ajustar la alimentación de tu compañero según sus necesidades.
        </p>
        <a routerLink="/specialties" class="read-more">Leer más</a>
      </div>
      <img
        src="https://images.unsplash.com/photo-1576201836106-db1758fd1c97?w=500"
        alt="Nutrición" />
    </article>

    <article class="specialty-card rose scroll-reveal" appScrollReveal>
      <div class="specialty-content">
        <h3>Fisioterapia</h3>
        <p>
          Después de una cirugía, es importante realizar masajes y técnicas
          de estimulación para mejorar la movilidad, reducir el dolor y
          acelerar la recuperación.
        </p>
        <a routerLink="/specialties" class="read-more">Leer más</a>
      </div>
      <img
        src="https://www.animalshealth.es/fileuploads/news/perro-osteoartritis-fisioterapiamesa-de-trabajo-216738618451.jpg"
        alt="Fisioterapia" />
    </article>

    <article class="specialty-card blue scroll-reveal" appScrollReveal>
      <h3>Ver Todas</h3>
      <p>
        ¡Ofrecemos 12 especialidades para tratar a tu mascota! Conócelas
        aquí
      </p>
      <a routerLink="/specialties" class="read-more">Ver más</a>
    </article>
  </div>
</section>
