<section class="container">
  <article class="table-header">
    <div class="title-section">
        <i class="lucide-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3H6a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3V6a3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 3 3 0 0 0-3-3Z"/></svg>
      </i>
      <h1>Lista de Veterinarios</h1>
      <button (click)="navigateToAddVet()" class="add-button">
        Agregar Veterinario
      </button>
    </div>
    <div class="search-section">
      <div class="search-container">
        <i data-lucide="search" class="search-icon"></i>
        <input
          type="text"
          placeholder="Buscar veterinario..."
          class="search-input"
          [(ngModel)]="searchQuery"
          (input)="onSearch()"
        />
      </div>
    </div>
  </article>

  <article class="table-container">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Especialidad</th>
          <th>Cédula</th>
          <th>Número de Atenciones</th>
          <th class="actions-header">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vet of veterinarios">
          <td>
            <a [routerLink]="['/vets/info', vet.id]" class="vet-link">
              {{ vet.nombre }}
            </a>
          </td>
          <td>{{ vet.especialidad }}</td>
          <td>{{ vet.cedula }}</td>
          <td>{{ vet.numAtenciones }}</td>
          <td class="actions-cell">
              <a [routerLink]="['/vets/edit', vet.id]" class="action-button edit-button" style="color: blue;" title="Editar veterinario">
                <i class="lucide-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/><path d="m15 5 4 4"/></svg>
                </i>
              </a>
              <button class="action-button toggle-button" (click)="vet.id && deleteVet(vet.id)" style="color: red;" title="Desactivar veterinario">
                <i class="lucide-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 2v10"/>
                    <path d="M6.5 5.5a9 9 0 1 0 11 0"/>
                  </svg>
                </i>
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </article>
</section>

