.maintenance-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 50px;
}
