<section id="hero" class="hero">
  <figure class="hero-image">
    <img
      src="https://images.unsplash.com/photo-1597662942561-776cff97660d?q=80&w=2946&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Hero Image"
      class="hero-img"
    />
  </figure>

  <div class="hero-content scroll-reveal" appScrollReveal #heroContent>
    <article class="hero-text">
      <h1>La Clínica Veterinaria<br />de Mayor Impacto en<br />Colombia</h1>
      <p>
        La felicidad y la salud de tu mascota son nuestra prioridad.<br />
        Tu compañero de vida recibirá el mejor cuidado en manos<br />
        de profesionales expertos y apasionados por la<br />
        salud animal.
      </p>

      <div class="hero-buttons scroll-reveal" appScrollReveal>
        <a href="#cta" class="btn primary">Contáctanos</a>
        <a routerLink="/login" class="btn secondary">Ingresa al portal</a>
      </div>
    </article>

    <section class="floating-card scroll-reveal" appScrollReveal>
      <article class="service-item scroll-reveal" appScrollReveal>
        <figure>
          <img
            src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?w=150"
            alt="Tienda"
            class="service-img"
          />
          <figcaption class="service-text">
            <h3>Explora nuestra tienda para consentir a tu mascota</h3>
            <a routerLink="/shop" class="hero-read-more">Ir a la tienda</a>
          </figcaption>
        </figure>
      </article>
      <article class="service-item scroll-reveal" appScrollReveal>
        <figure>
          <img
            src="https://images.unsplash.com/photo-1518717758536-85ae29035b6d?w=150"
            alt="Chatbot"
            class="service-img"
          />
          <figcaption class="service-text">
            <h3>¿Tienes dudas sobre nuestros servicios? ¡Habla con nuestro asistente virtual!</h3>
            <a
              href="javascript:void(0);"
              class="hero-read-more"
              role="button"
              (click)="abrirChatbot()"
              >Abrir Chatbot</a
            >
          </figcaption>
        </figure>
      </article>
    </section>
  </div>
</section>
