<footer>
  <div class="footer-content scroll-reveal" appScrollReveal>
    <div class="footer-grid scroll-reveal" appScrollReveal>
      <section class="footer-column scroll-reveal" appScrollReveal>
        <div class="footer-logo">
          <img
            src="assets/images/logo_shiba.png"
            alt="Logo"
            class="logo-icon" />
          <span> Clínica Shiba</span>
        </div>
        <p>(601) 123456</p>
        <p>
          2025, Pontificia Universidad <br />
          Javeriana
        </p>
      </section>

      <section class="footer-column scroll-reveal" appScrollReveal>
        <h3>Servicios</h3>
        <ul>
          <li><a routerLink="/specialties">Especialidades</a></li>
          <li><a routerLink="/mascota/edit">Portal Veterinario</a></li>
          <li><a routerLink="/cliente/all">Portal Administrador</a></li>
        </ul>
      </section>

      <section class="footer-column scroll-reveal" appScrollReveal>
        <h3>Sobre Nosotros</h3>
        <ul>
          <li><a href="#testimonials">Reseñas</a></li>
          <li><a routerLink="/blog">Blog</a></li>
        </ul>
      </section>

      <section class="footer-column scroll-reveal" appScrollReveal>
        <button class="help-button">Centro de Ayuda</button>
        <div class="social-icons">
          <a href="https://x.com" class="social-icon" target="_blank">
            <img src="assets/icons/twitter.svg" alt="Twitter" />
          </a>
          <a href="https://facebook.com" class="social-icon" target="_blank">
            <img src="assets/icons/facebook.svg" alt="Facebook" />
          </a>
          <a href="https://linkedin.com" class="social-icon" target="_blank">
            <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
          </a>
          <a href="https://youtube.com" class="social-icon" target="_blank">
            <img src="assets/icons/youtube.svg" alt="YouTube" />
          </a>
        </div>
      </section>
    </div>

    <div class="footer-bottom scroll-reveal" appScrollReveal>
      <p>© 2025, Clínica Shiba</p>
    </div>
  </div>
</footer>
