<nav class="navbar">
  <section class="nav-container">
    <article class="nav-left">
      <img src="assets/images/logo_shiba.png" alt="Logo" class="logo" />
      <span class="brand-name">Clínica<br />Shiba</span>
    </article>

    <article class="nav-center">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Inicio</a
      >
      <a routerLink="/specialties" routerLinkActive="active" class="nav-link"
        >Especialidades</a
      >

      <a
        routerLink="/blog"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        Blog
      </a>
      <a routerLink="/vets" routerLinkActive="active" class="nav-link"
        >Veterinarios
        </a>
      <!--<a routerLink="/pets" routerLinkActive="active" class="nav-link">Mascotas</a>

      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>-->

      <a routerLink="/cta" class="nav-link">Contacto</a>
    </article>

    <article class="nav-right">
      <div class="search-container">
        <input type="text" placeholder="Busca..." class="search-input" />
        <img
          src="https://raw.githubusercontent.com/lucide-icons/lucide/main/icons/search.svg"
          alt="Search"
          class="search-icon"
        />
      </div>
      <div class="cart-icon">
        <img
          src="https://raw.githubusercontent.com/lucide-icons/lucide/main/icons/shopping-cart.svg"
          alt="Cart"
        />
      </div>
      <div class="profile-container" #profileRef (click)="toggleDropdown()">
        <img
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=100"
          alt="Profile"
          class="profile-pic"
        />
        <div
          class="profile-dropdown"
          [class.active]="isDropdownOpen"
          [style.display]="isDropdownOpen ? 'block' : 'none'"
        >
          <a routerLink="/login" class="login-btn">Iniciar sesión</a>
        </div>
      </div>
    </article>
  </section>
</nav>